#container{
		width: 950px;
		margin: 0 auto;
		background: yellow;
}

#header{
	width:100%;
	height: 120px;
	border-bottom: 1px solid #c7c7c7;
	background: #101010;
}

#logo{
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px;
	background: #101010;
}

#banner{
	background: blue; 
	height: 60px;
	width:750px;
	float:left;
	margin: 10px;
}

#slideShow{
	width: 100%;
	height: 350px;
	background-color: black;
}

#content_area{
		
}

#main_content{
	float:left;
	width: 625px;
	height: 100%;

    background-color: black;
    border: 1px solid black;
    opacity: 0.9;
	position: relative;
	z-index: -1;
}

#right_col{
	float: left;
	width: 323px;
	height: 100%;
	background-color: red;
	
}

#footer{
	background-color: #333;
	border-top: 1px solid #c7c7c7;
	width:950px;
	float:left;

}

#login{
	 border: 2px solid;
	 border-radius: 25px;
	 width:250px;
	 padding: 10px 10px;
	 margin-top:10px;
	 margin-left:20px;
}


