
#main_game_form{
	color: white;
}

#gameImagePart{
	width: 270;
	height: 350;
	float: left;
}

#gameTitlePart{
	width: 620px;
	height: 50px;
	float: right;
}

#minReqPart{
	width: 295px;
	height: 266px;
	float: right;
	padding: 10px;
	font-size: 18px;
	margin-top: 10px;
}

#maxReqPart{
	width: 295px;
	height: 266px;
	float: left;
	padding: 10px;
	font-size: 18px;
	margin-top: 10px;
}

#gameDescriptionPart{

	float: right;
	width: 425px;
	height: 400px;
	margin-top: 25px;
	font-size: 18px;
}

#gameVideoPart{

	float: left;
	width: 470px;
	height: 400px;
	margin-top: 25px;
	font-size: 18px;
}

#gameImage{
	width: 250;
	height: 330;
	border: 5px solid;
    border-radius: 25px;
	border-color: #333;
	position: relative;
}

#gameTitleForm{
	font-size: 35px;
	text-align: center;
	margin-top: 0px;
}

#footerPC{
	color: white;
}

.rating {
    float:right;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
