#container{
		width: 950px;
		margin: 0 auto;	
}

#header{
	width:100%;
	height: 120px;
	border-bottom: 1px solid #c7c7c7;
	background: #101010;
}

#logo{
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px;
	background: #101010;
}

#banner{
	background: blue; 
	height: 60px;
	width:750px;
	float:left;
	margin: 10px;
}

#slideShow{
	width: 100%;
	height: 350px;
	background-color: black;
}

#main_content, #main_contentPC{
	float:left;
	width: 625px;
	height: 100%;

    background-color: black;
    border: 1px solid black;
    opacity: 0.85;
	position: relative;
	z-index: -1;
}

#main_contentPC{
	width: 700px !important;
}

#main_game_form{
	height: 100%;
	width:919px;
	
	background-color: black;
    border: 1px solid black;
    opacity: 0.85;
	position: relative;
	z-index: -1;
	
	padding: 15px;
}

#greetings{
	height: 30px;
	border-bottom: 2px solid;
	border-bottom-color: darkorange;
	
}

#adminPlatfrom{
	float: left;
	width: 323px;
	height: 50%;
	background-color: #181818;
}

#adminCategory{
	float: left;
	width: 323px;
	background-color: #181818;
	height: 50%;
}

#right_col{
	float: left;
	width: 323px;
	height: 100%;
	background-color: #333;	
}
#rightColWrapper{
	height: 100%;
	width:323px;
	background-color: #181818;
}
#rightColPc{
	float: right;
	height: 100%;
	width:248px;
	background-color: #181818;
}
#login{
	 width:262px;
	 padding: 10px 30px;
	 margin-top:10px;
	 border-bottom: 2px solid;
	 background-color: #333 !important;
}

#favorites{
	padding: 10px 30px;
	width:263px;
}

#footer{
	background-color: #333;
	border-top: 1px solid #c7c7c7;
	width:950px;
	float:left;
	height: 25px;
}
#footerPC{
	background-color: #333;
	border-top: 1px solid #c7c7c7;
	width:950px;
	float:left;
	height: 35px;
}


